{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Users / Profile - ManyLinks</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'links/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'links/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'links/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">ManyLinks</span>
      </a>
    </div>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!--img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"-->
            {% if user_profile %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user_profile.fullname | title}}</span>
            {% else %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.email }}</span>
            {% endif %}
          </a--><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              {% if user_profile %}
              <h6>{{user_profile.fullname | title}}</h6>
              {% else %}
              <h6>{{user.email }}</h6>
              {% endif %}
              <!--span>Web Designer</span-->
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if user_profile %}
              <h2>{{user_profile.fullname | title}}</h2>
              {% else %}
              <h2>{{user.email }}</h2>
              {% endif %}
              <div class="social-links mt-2">
                {% if user_profile.twitter %}
                <a href="https://twitter.com/suryapratap_bit" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                {% endif %}
                {% if user_profile.facebook %}
                <a href="#" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                {% endif %}
                {% if user_profile.instagram %}
                <a href="#" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                {% endif %}
                {% if user_profile.linkedin %}
                <a href="https://www.linkedin.com/in/surya-pratap-3a275945" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                {% endif %}

                {% if user_profile.youtube %}
                <a href="https://www.youtube.com/@suryapratap2119" class="youtube" target="_blank"><i class="bi bi-youtube"></i></a>
                {% endif %}
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">
                {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{message.tags} bg-{{message.tags}} text-light border-0 alert-dismissible fade show" role="alert">
                            {{ message }}
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                        {% endfor %}
                    
                  </div>
                {% endif %}
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">{{user_profile.about}}</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{user_profile.fullname | title}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                  <h5 class="card-title">Social Profile Links</h5>
                  {% if user_profile.facebook %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label twitter">Facebook Profile</div>
                    <div class="col-lg-9 col-md-8"><a href="{{user_profile.facebook}}" target="_blank">{{user_profile.facebook}}</a></div>
                  </div>
                  {% endif %}

                  {% if user_profile.instagram %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Instagram Profile</div>
                    <div class="col-lg-9 col-md-8"><a href="{{user_profile.instagram}}" target="_blank">{{user_profile.instagram}}</a></div>
                  </div>
                  {% endif %}

                  {% if user_profile.twitter %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Twitter Profile</div>
                    <div class="col-lg-9 col-md-8"><a href="{{user_profile.twitter}}" target="_blank">{{user_profile.twitter}}</a></div>
                  </div>
                  {% endif %}

                  {% if user_profile.linkedin %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Linkedin Profile</div>
                    <div class="col-lg-9 col-md-8"><a href="{{user_profile.linkedin}}" target="_blank">{{user_profile.linkedin}}</a></div>
                  </div>
                  {% endif %}

                  {% if user_profile.youtube %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">YouTube Profile</div>
                    <div class="col-lg-9 col-md-8"><a href="{{user_profile.youtube}}" target="_blank">{{user_profile.youtube}}</a></div>
                  </div>
                  {% endif %}

                  {% if user_profile.github %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Github Profile</div>
                    <div class="col-lg-9 col-md-8"><a href="{{user_profile.github}}" target="_blank">{{user_profile.github}}</a></div>
                  </div>
                  {% endif %}
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="{% url 'profile-update' %}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullname" type="text" class="form-control" id="fullName" value="{{user_profile.fullname}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="about" style="height: 100px">{{user_profile.about}}</textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="{{user.email}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="facebook" type="text" class="form-control" id="Facebook" value="{{user_profile.facebook}}">
                      </div>
                    </div>

                    
                    <div class="row mb-3">
                      <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="instagram" type="text" class="form-control" id="Instagram" value="{{user_profile.instagram}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="twitter" type="text" class="form-control" id="Twitter" value="{{user_profile.twitter}}">
                        </div>
                      </div>

                    <div class="row mb-3">
                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="linkedin" type="text" class="form-control" id="Linkedin" value="{{user_profile.linkedin}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                        <label for="YouTube" class="col-md-4 col-lg-3 col-form-label">YouTube Profile</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="youtube" type="text" class="form-control" id="YouTube" value="{{user_profile.youtube}}">
                        </div>
                      </div>

                    <div class="row mb-3">
                        <label for="Github" class="col-md-4 col-lg-3 col-form-label">Github Profile</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="github" type="text" class="form-control" id="github" value="{{user_profile.github}}">
                        </div>
                      </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>
                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form action="{% url 'change-password' %}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword" required>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword" required>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'links/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'links/assets/js/main.js' %}"></script>

</body>

</html>
